<launch>
    <!-- <arg name="node_start_delay" default="1.0" />  -->

    <node pkg="open_base" type="wheel_command" name="wheel_command" output="screen">
    </node>

	<!-- <include file="$(find open_base)/launch/rviz.launch" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/> -->
</launch>